<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.easydrive10">
    <!-- PERMISOS -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_easy_drive"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/configinternet"
        android:roundIcon="@mipmap/ic_easy_drive_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".principal.PrincipalActivity"
            android:label="@string/title_activity_principal"
            android:theme="@style/NoActionBar"></activity>
        <activity android:name=".register.RegisterActivity" />
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- CONFIG PARA PERMITIR EL ACCESO AL SERVIDOR MURGI -->
        <activity android:name=".MainActivity" />
    </application>

</manifest>